@using Kentico.Xperience.Disqus.Widgets

@model DisqusComponentWidgetViewModel

<div id="disqus_thread" class="@Model.CssClass"></div>
<script>
    var disqus_config = function () {
        this.page.url = '@Model.Url';
        this.page.identifier = '@Model.Identifier';
        if ('@Model.Title' !== '') {
            this.page.title = '@Model.Title';
        }
    };

    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://@(Model.Site).disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

@if (Model.DisplayCommentCount)
{
    <script>
        (function () {
            var d = document, s = d.createElement('script');
            s.id = 'dsq-count-scr';
            s.src = '//@(Model.Site).disqus.com/count.js';
            s.async = true;
            d.body.appendChild(s);
        })();
    </script>
}